img{
  width:20px;
  height:15rem;
}
.col{
  height:440px;
}
BODY{
  background-color: #444444;
}
H1{
  color: #F7F6F2;
}
H2{
  color: #F7F6F2;
}
H3{
  color: #F7F6F2;
}
H4{
  color: #F7F6F2;
}
.btn-outline-dark{
  color: #F7F6F2;
  outline-color:  #F7F6F2;
}
.ab{
  margin: 0 5rem;
}
.al{
  text-align: center;

}
.bn{

  margin:2rem ;
}
